spriteset(spriteset_cargo_{{.}}, "1x/{{.}}_8bpp.png")
{ template_cargo_1x() }

alternative_sprites(spriteset_cargo_{{.}}, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP, "2x/{{.}}_8bpp.png")
{ template_cargo_2x() }

